


@font-face {
  font-family: "raindrops";
  src: url("fonts/raindrops.woff") format("woff"),
       url("fonts/raindrops.ttf") format("truetype"),
       url("fonts/raindrops.svg#raindrops") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "raindrops";
    src: url("fonts/raindrops.svg#raindrops") format("svg");
  }
}

[class^="raindrops-"]:before, [class*=" raindrops-"]:before,
[class^="raindrops-"]:after, [class*=" raindrops-"]:after {
  font-family: raindrops;
  font-size: 20px;
  font-style: normal;
}

.raindrops-one:before { content: "\f101"; font-size: 16px; }
.raindrops-two:before { content: "\f102"; }
.raindrops-three:before { content: "\f100"; font-size: 28px; margin-left: 8px }