body {
  background-color: hsla(50,20%,90%,1);
  font-family: helvetica, sans-serif;
  color: hsla(100,10%,25%,1);
  margin: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component {
  background-color: hsla(50,20%,95%,1);
  /*width: 400px;*/
  padding: 1em;
  margin: 2em;
  border-radius: 0.2em;
  box-shadow: 1px 1px 4px hsla(0,0%,50%,0.5);
}

table.GridView {
  display: inline;
  margin: 1em;
}

table.GridView td {
  width: 0.5em;
  height: 0.5em;
  background-color: hsl(0,0%,80%);
}

table.GridView td.set {
  background-color: hsl(0,0%,10%);
}

.MapView {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MapView canvas {
  width: 300px;
  height: 300px;
}

.divIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  box-shadow: 1px 1px 4px;
  background-color: hsla(0,0%,100%,0.8);
}
.divIcon.selected {
  box-shadow: 2px 5px 10px hsl(50,90%,30%);
  background-color: hsla(50,98%,95%,1);
}
.predictTemp {
  color: hsla(100,30%,40%,1);
}
.actualTemp {
  color: hsla(100,0%,20%,1);
}
.diffTemp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0,30%,40%,1);
  color: white;
  font-size: 0.8em;
  border-radius: 0.25em;
}
.windSpeedUnit {
  font-size: .6em;
}
.divIconContent {
  font-size: 8pt;
}

.teacher-cell-popover-contents {
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3em;
  text-align: center;
}

.teacher-cell-popover-contents .station-id {
  font-size: 32px;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 4px;
}

.teacher-cell-popover-contents .group {
  margin-top: 8px;
}

.teacher-status-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teacher-option-buttons {
  display: flex;
  flex-direction: row;
}

.teacher-card-media-wrapper {
  margin-top: -30px;
}

.weather-station-exit-button button {
  position: absolute !important;
  bottom: 0px;
  width: 160px;
}

